{% extends "network/layout.html" %}

{% block body %}
  <h1>All Posts</h1>

  {% if user.is_authenticated %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      New Post
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">New Post</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="{% url 'create_post' %}" method="post">
            {% csrf_token %}
            <div class="modal-body">
              <textarea name="newPost" class="form-control" id="newPost" rows="10" required maxlength="250"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Post</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}

  {% for post in posts %}
    <div class="card text-bg-light mb-3" style="max-width: 30rem;">
      <div class="card-header"><a href="{% url 'profile' poster=post.poster %}">{{ post.poster|capfirst }}</a></div>
      <div class="card-body">
        <p class="card-text">{{ post.content }}</p>
        <p>{{ post.created }}</p>
        <div>
          <form action="{% url 'toggle_likes' post_id=post.id %}" method="post">
            {% csrf_token %}
            {% if user in post.likes.all %}
              <button id="unlike" class="btn btn-outline-light btn-sm" type="submit"><i class="heart fa fa-heart" style="font-size: 20px; color: red;"></i></button>
            {% else %}
              <button id="like" class="btn btn-outline-light btn-sm" type="submit"><i class="heart fa fa-heart-o" style="font-size: 20px; color: red;"></i></button>
            {% endif %}<span>{{ post.likes.count }}</span>
          </form>
        </div>
      </div>
    </div>
  {% empty %}
    <p>No Posts.</p> 
  {% endfor %}
{% endblock %}