{% extends "network/layout.html" %}
{% load static %}

{% block title %}
  Home / Social Network
{% endblock %}

{% block body %}
  <h2>All Posts</h2>

  {% if user.is_authenticated %}
    <!-- Button trigger modal -->
    <button id="newpost_button" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      New Post
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">New Post</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="{% url 'create_post' %}" method="post">
            {% csrf_token %}
            <div class="modal-body">
              <textarea name="newPost" class="form-control" id="newPost" rows="10" required maxlength="250"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button id="newPostBtn" type="submit" class="btn btn-success">Post</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}

  {% for post in page_obj %}
    <div class="card text-bg-light mb-3">
      <div class="card-header"><a href="{% url 'profile' poster=post.poster %}">{{ post.poster|capfirst }}</a></div>
      <div class="card-body">

        {% if post.edited %}
          <div id="contentdiv-{{ post.id }}" class="row g-3">
            <p style="font-size: 20px;" class="card-text col-auto" id="post-{{ post.id }}">{{ post.content }}</p><span style="margin: 16px 0px 20px 0px; font-size: 0.8rem; padding-top: 8px;" class="badge text-bg-info col-auto">Edited</span>
          </div>
        {% else %}
          <div id="contentdiv-{{ post.id }}">
            <p style="font-size: 20px;" class="card-text" id="post-{{ post.id }}">{{ post.content }}</p>
          </div>
        {% endif %}

        <div>
          {% if user == post.poster %}
            <!-- form -->
            <form hidden id="editpostform-{{ post.id }}" onsubmit="edit('{{ post.id }}'); hide('{{ post.id }}'); return false;">
              {% csrf_token %}
              <div class="mb-3">
                <textarea name="editpost" class="form-control" id="editpost-{{ post.id }}" rows="2" required maxlength="250"></textarea>
              </div>
              <div style="float: right;">
                <button onclick="hide('{{ post.id }}')" id="cancelbtn-{{ post.id }}" type="button" class="btn btn-secondary editbtnsty">Cancel</button>
                <button id="editbtn-{{ post.id }}" type="submit" class="btn btn-success editbtnsty">Edit</button>
              </div>
            </form>
          {% endif %}
        </div>

        <p><small>{{ post.created }}</small></p>

        {% if user.is_authenticated %}
        <div>
          <form onsubmit="toggleLikes('{{ post.id }}'); return false;">
            {% csrf_token %}
            <div class="row g-3">
              {% if user in post.likes.all %}
              <div id="togglelikediv-{{ post.id }}" class="col-auto">
                <button id="unlike-{{ post.id }}" name="unlike" class="btn btn-outline-light btn-sm" type="submit"><i class="heart fa fa-heart" style="font-size: 20px; color: red;"></i></button>
              </div>
              {% else %}
              <div id="togglelikediv-{{ post.id }}" class="col-auto">
                <button id="like-{{ post.id }}" name="like" class="btn btn-outline-light btn-sm" type="submit"><i class="heart fa fa-heart-o" style="font-size: 20px; color: red;"></i></button>
              </div>
              {% endif %}<span id="likenum-{{ post.id }}" class="col-auto" style="padding: 0px; font-size: 25px;">{{ post.likes.count }}</span>
            </div>
          </form>
        </div>
        {% else %}
          <div>
            <form onsubmit="return false;">
              {% csrf_token %}
              <div class="row g-3">
                {% if user in post.likes.all %}
                <div id="togglelikediv-{{ post.id }}" class="col-auto">
                  <button id="unlike-{{ post.id }}" name="unlike" class="btn btn-outline-light btn-sm" type="submit"><i class="heart fa fa-heart" style="font-size: 20px; color: red;"></i></button>
                </div>
                {% else %}
                <div id="togglelikediv-{{ post.id }}" class="col-auto">
                  <button id="like-{{ post.id }}" name="like" class="btn btn-outline-light btn-sm" type="submit"><i class="heart fa fa-heart-o" style="font-size: 20px; color: red;"></i></button>
                </div>
                {% endif %}<span id="likenum-{{ post.id }}" class="col-auto" style="padding: 0px; font-size: 25px;">{{ post.likes.count }}</span>
              </div>
            </form>
          </div>
        {% endif %}
        
        {% if user == post.poster %}
          <!-- Button trigger form -->
          <button onclick="prefill('{{ post.id }}')" id="editpostbutton-{{ post.id }}" type="button" class="btn btn-warning btn-sm">
            Edit
          </button>
        {% endif %}
      </div>
    </div>
  {% empty %}
    <p>No Posts.</p> 
  {% endfor %}

  {% if posts.exists and page_obj.paginator.num_pages > 1 %}
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
        {% endif %}

        <li class="page-item active" aria-current="page"><a class="page-link">{{ page_obj.number }}</a></li>

        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{% endblock %}

{% block script %}
  <script src="{% static 'network/network.js' %}"></script>
{% endblock %}