{% extends "network/layout.html" %}
{% load static %}

{% block title %}
  Home / Social Network
{% endblock %}

{% block body %}
  <h3>All Posts</h3>

  {% if user.is_authenticated %}
    <!-- Button trigger modal -->
    <button id="newpost_button" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      New Post
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">New Post</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="{% url 'create_post' %}" method="post">
            {% csrf_token %}
            <div class="modal-body">
              <textarea name="newPost" class="form-control" id="newPost" rows="10" required maxlength="250"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Post</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}

  {% for post in page_obj %}
    <input type="hidden" id="myVar" name="variable" value="{{ post }}">

    <div class="card text-bg-light mb-3">
      <div class="card-header"><a href="{% url 'profile' poster=post.poster %}">{{ post.poster|capfirst }}</a></div>
      <div class="card-body">
        <p class="card-text">{{ post.content }}</p>
        <p>{{ post.created }}</p>
        <div>
          <form action="{% url 'toggle_likes' post_id=post.id %}" method="post">
            {% csrf_token %}
            {% if user in post.likes.all %}
              <button id="unlike" class="btn btn-outline-light btn-sm" type="submit"><i class="heart fa fa-heart" style="font-size: 20px; color: red;"></i></button>
            {% else %}
              <button id="like" class="btn btn-outline-light btn-sm" type="submit"><i class="heart fa fa-heart-o" style="font-size: 20px; color: red;"></i></button>
            {% endif %}<span>{{ post.likes.count }}</span>
          </form>
        </div>

        <div>
          {% if user == post.poster %}
            <!-- Button trigger modal -->
            <button id="editpost_button" type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
              Edit
            </button>
      
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel2">Edit Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form id="editpost_form">
                    {% csrf_token %}
                    <div class="modal-body">
                      <textarea name="editpost" class="form-control" id="editpost" rows="10" required maxlength="250"></textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn btn-primary">Post</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% empty %}
    <p>No Posts.</p> 
  {% endfor %}

  {% if posts.exists and page_obj.paginator.num_pages > 1 %}
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
        {% endif %}

        <li class="page-item active" aria-current="page"><a class="page-link">{{ page_obj.number }}</a></li>

        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{% endblock %}

{% block script %}
  <script src="{% static 'network/network.js' %}"></script>
{% endblock %}