{% extends "network/layout.html" %}

{% block title %}
  {{ poster|capfirst }} / Social Network
{% endblock %}

{% block body %}
  <h3>{{ poster|capfirst }}</h3>
  
  {% if user == poster %}
    <p>Following: {{ poster.following.count }}</p>
    <p>Followers: {{ poster.follower.count }}</p>
  {% else %}
    <div>
      <form action="{% url 'toggle_follow' poster=poster.id %}" method="post">
        {% csrf_token %}
        {% if poster in user.following.all %}
          <button type="submit" class="btn btn-danger">Unfollow</button>
        {% else %}
          <button type="submit" class="btn btn-success">Follow</button>
        {% endif %}
      </form>
    </div>

    <p>Following: {{ poster.following.count }}</p>
    <p>Followers: {{ poster.follower.count }}</p>
  {% endif %}

  {% for post in page_obj %}
    <div class="card text-bg-light mb-3" style="max-width: 30rem;">
      <div class="card-header"><a href="{% url 'profile' poster=post.poster %}">{{ post.poster|capfirst }}</a></div>
      <div class="card-body">
        <p class="card-text">{{ post.content }}</p>
        <p>{{ post.created }}</p>
        <div>
          <form action="{% url 'toggle_likes' post_id=post.id %}" method="post">
            {% csrf_token %}
            {% if user in post.likes.all %}
              <button id="unlike" class="btn btn-outline-light btn-sm" type="submit"><i class="heart fa fa-heart" style="font-size: 20px; color: red;"></i></button>
            {% else %}
              <button id="like" class="btn btn-outline-light btn-sm" type="submit"><i class="heart fa fa-heart-o" style="font-size: 20px; color: red;"></i></button>
            {% endif %}<span>{{ post.likes.count }}</span>
          </form>
        </div>
      </div>
    </div>
  {% empty %}
    <p>No Posts.</p> 
  {% endfor %}

  {% if posts.exists %}
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
        {% endif %}

        <li class="page-item active" aria-current="page"><a class="page-link">{{ page_obj.number }}</a></li>

        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{% endblock %}