{% extends "network/layout.html" %}

{% block body %}
  <h1>{{ poster|capfirst }}</h1>
  
  <div>
    <form action="{% url 'follow' poster=poster.id %}" method="post">
      {% csrf_token %}
      <button type="submit">Follow</button>
    </form>
  </div>

  <p>Following: {{ ussr.following.count }}</p>
  <p>Followers: {{ ussr.follower.count }}</p>

  {% for post in posts %}
  <div class="card text-bg-light mb-3" style="max-width: 30rem;">
    <div class="card-header"><a href="{% url 'profile' poster=post.poster %}">{{ post.poster|capfirst }}</a></div>
    <div class="card-body">
      <p class="card-text">{{ post.content }}</p>
      <p>{{ post.created }}</p>
      <div>
        <form action="{% url 'toggle_likes' post_id=post.id %}" method="post">
          {% csrf_token %}
          {% if user in post.likes.all %}
            <button id="unlike" class="btn btn-outline-light btn-sm" type="submit"><i class="heart fa fa-heart" style="font-size: 20px; color: red;"></i></button>
          {% else %}
            <button id="like" class="btn btn-outline-light btn-sm" type="submit"><i class="heart fa fa-heart-o" style="font-size: 20px; color: red;"></i></button>
          {% endif %}<span>{{ post.likes.count }}</span>
        </form>
      </div>
    </div>
  </div>
{% empty %}
  <p>No Posts.</p> 
{% endfor %}
{% endblock %}